h1{
    text-align: center;
}

#container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid black;
    margin: auto;
    width: 960px;
}

.grid-square{
    
    border: 1px solid #ddd;
    box-sizing: border-box;
    background: #fff;
}
#resetButton{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
}